 
html body {
    background: linear-gradient(90deg, #00009c 0%, #181818 101%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  

html {
    font-size: medium;
    margin: 0;
    padding: 0;
}

.emoji{
    display: inline;
    font-size: 1em;
    margin: 1px;
}

.emoji img{
    display: inline;
    width: 1em;
    height: 1em;
    margin: 1px;
    size: 21px;
}

.navbar-brand>img {
    display: block;
    width: 2em;
}

.nav-item>.nav-link {
    color: white;
}



.nav-item>.nav-link:hover{
    color: rgb(0, 110, 255);
}

#nav-bar_list .nav-link.active, .navbar-nav{
    color: rgb(94, 93, 93);}

section {
    text-align: center;
    color: rgb(255, 255, 255) ;
}

.container-fluid > .row{
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.carousel-inner {
    margin: auto auto;
}

.carousel-item > .d-block > .row {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.slide-text {
    margin: auto auto;
}

section>img {
    width: 90px;
    margin: 10px;
}

p>.bold_text {
font-weight: bold;
}

section {
  background: url(images/фон_SmartFordoS3.png);
  padding-bottom: 250px;


}

footer {
    background-color: rgb(44, 44, 44);
     height: 100%;
    color: white;
    margin: none;
    text-align: center;
}

footer > p {
    margin: 0;
    padding: 0.5em;
    
}

