.list_of_news {
    display:grid ;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(4, 200px);
}
.central_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 200px);
    place-items: center;
}

.news_container {
    display: inline-block;
    margin: 20px;
    background: linear-gradient(270deg, #00009c 0%, #001055 101%);
    padding: 5px;
    border-radius: 15px;
    width: 6cm;
    height: 4cm;
}

@media (max-width:756px) {
    .news_container {
        display: flex;
        flex-direction: column;
        width: 6cm;
        height: 4cm;
    }
}


.news_container a {
 text-decoration: none;
 color: rgb(21, 168, 253);
}

.news_container > img {
width: 100%;
height: 70%;
border-radius: 15px;
}

.news_page {
    text-align: left;
    margin-block:2em;
    margin-inline: 1em;
}

.head_text_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head_container {
    display: flex;
}

.news_page > .main_page > .head_container >.preview > img {
    border-radius: 20px;
    width: 6cm;
    height: 4cm;
    margin:  1em;
    border-color: rgb(36, 36, 36);
    border-style: solid;
}

.preview {
    float: left;
}

.text {
    float: left;
    padding-block: 8px;
}

.news_page > .head_text_page > .data {
    text-align: right;
    background-color: white;
    color: black;
    width: 100px;
    height: 25px;
    float: right;
}

.news_page > .head_text_page > .data > p {
  text-align: center;
}

.news_page > .main_page > .head_container {
    display: flex;
}

#actors_name {
    font-weight: bold;
}


@media (max-width:995px) {
    .head_container {
        display: flex;
        flex-direction: column;
    }
    .central_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        place-items: center;
    }


}

@media (max-width:756px) {
    .head_container {
        display: flex;
        flex-direction: column;
    }
    .central_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 200px);
        place-items: center;
    }


}

