.card, .file-container-position-control-menu  {
 background: linear-gradient(270deg, #00009c 0%, #001055 101%)
}

.card-body >.card-title  {
    color: white;
}

.card-body >.card-text  {
    color: white;
}

.file-container-position-control-menu {
    margin: 20px;
    padding: 10px;
    align-items: center;
}